.container {
  background-color: black;
  width: 20px;
  height: 20px;
  transition: 2s;

  /* animationの時に外す */
  animation-name: rotate-rotate;
  animation-duration: 12s;
  /* animation-iteration-count: infinite; */
  animation-timing-function: linear;
}

.container:active {
  opacity: 0.2;
  width: 100px;
  height: 100px;
  background-color: blueviolet;

  /* transformの時に外す */
  /* transform: rotate(135deg); */
  /* transform: translateX(200px); */
}

@keyframes rotate-rotate {
  from {
  }
  25% {
    transform: translate(200px, 200px) rotate(1turn);
    background-color: blue;
  }

  50% {
    transform: translate(0px, 0px) rotate(-1turn);
    background-color: green;
  }

  75% {
    transform: translate(200px, 200px) rotate(1turn);
    background-color: red;
  }

  100% {
    transform: translate(400px, 400px) rotate(10turn);
    background-color: yellow;
  }
}
